doctype html
html(lang="en")
    head 
        include includes/head
        script(src="/static/bootstrap/js/jquery.min.js")
        script(src="/static/bootstrap/js/bootstrap.min.js") 
        +stylesheet("/static/bootstrap/css/bootstrap.min.css")
        +stylesheet("/static/find.css")
        title Find a Classroom
    body 
        .container-fluid
            .row#carousel.carousel.slide
                ol.carousel-indicators
                    li(data-target="#carousel" data-slide-to="0")
                    li.active(data-target="#carousel" data-slide-to="1")
                    li(data-target="#carousel" data-slide-to="2")
                .carousel-inner 
                    .carousel-item
                        img.d-block.w-100(src="/static/images/DowntownCampus.jpg" alt="Downtown Campus")
                    .carousel-item.active
                        img.d-block.w-100(src="/static/images/NorthCampus.jpg" alt="North Campus")
                    .carousel-item
                        img.d-block.w-100(src="/static/images/SouthCampus.jpg" alt="South Campus")
                a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
            .row.d-flex.justify-content-center.align-items-center 
                h3 Open Classrooms
            .row 
                .col-md-7
                    #map_room
                        canvas#canvas(width="800" height="800")
                .col-md-5(style="border: 1px solid black;")
                    h3 Building: 
                        select#building
                            option(value="NSC") NSC
                            option(value="KNOX") Knox
                    #room-container
            script(src="/static/scripts/find.js") 