doctype html
html(lang="en")
    head 
        include includes/head
        script(src="/static/bootstrap/js/jquery.min.js")
        script(src="/static/bootstrap/js/bootstrap.min.js") 
        +stylesheet("/static/bootstrap/css/bootstrap.min.css")
        +stylesheet("/static/find.css")
        title Find a Classroom
    body
        .container.mb-5.mb-md-0
            .row#carousel.carousel.slide
                .carousel-inner 
                    .carousel-item(class=campus=="Downtown"?"active":"")
                        img.d-block.w-100(src="/static/images/DowntownCampus.jpg" alt="Downtown Campus")
                    .carousel-item(class=campus=="North"?"active":"")
                        img.d-block.w-100(src="/static/images/NorthCampus.jpg" alt="North Campus")
                    .carousel-item(class=campus=="South"?"active":"")
                        img.d-block.w-100(src="/static/images/SouthCampus.jpg" alt="South Campus")
                a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
            .row(style="background-color: #272b2e;").text-white
                .col-md-6
                    #map_room
                        canvas#canvas(width="800" height="800")
                .col-md-6.pt-2
                    select#building
                        option(value="") Select a Building
                        option(value="ACADEM") Academic Complex 
                        option(value="ALFIER") Alfiero Center
                        option(value="ALUMNI") Alumni Arena
                        //- option(value="AR") Art Building ????
                        option(value="BAIRD") Baird Hall
                        option(value="BALDY") Baldy Hall
                        option(value="BELL") Bell Hall
                        option(value="BONNER") Bonner Hall
                        option(value="CAPEN") Capen Hall
                        option(value="CFA") Center for the Arts 
                        option(value="CLEMEN") Clemens Hall
                        option(value="COOKE") Cooke Hall
                        option(value="DAVIS") Davis Hall 
                        option(value="FRNCZK") Fronczak Hall
                        option(value="FURNAS") Furnas Hall
                        option(value="FUTURE TERM") Future Term Building
                        option(value="HOCH") Hochstetter Hall
                        option(value="JACOBS") Jacobs Hall
                        option(value="JARVIS") Jarvis Hall
                        option(value="KNOX") Knox Hall
                        option(value="MATH") Math Building
                        option(value="NORTON") Norton Hall
                        option(value="NSC") Natural Sciences Complex 
                        option(value="OBRIAN") O'Brian Hall
                        option(value="PARK") Park Hall
                        option(value="SLEE") Slee Hall
                        option(value="SPAULDING") Spaulding Hall
                        option(value="TALBRT") Talbert Hall
                        option(value="WILKESON") Wilkeson Hall
                    #room-container
            script(src="/static/scripts/find.js") 
    //- Todo: replace meter with time on mobile devices / responsive
    //- Make map clicks map to a building (will be awful)