doctype html
html(lang="en")
    head 
        include includes/head
        script(src="/static/bootstrap/js/jquery.min.js")
        script(src="/static/bootstrap/js/bootstrap.min.js") 
        +stylesheet("/static/bootstrap/css/bootstrap.min.css")
        +stylesheet("/static/find.css")
        title Find a Classroom
    body 
        .container
            .row#carousel.carousel.slide
                ol.carousel-indicators
                    li(data-target="#carousel" data-slide-to="0")
                    li.active(data-target="#carousel" data-slide-to="1")
                    li(data-target="#carousel" data-slide-to="2")
                .carousel-inner 
                    .carousel-item
                        img.d-block.w-100(src="/static/photos/DowntownCampus.jpg" alt="Downtown Campus")
                    .carousel-item.active
                        img.d-block.w-100(src="/static/photos/NorthCampus.jpg" alt="North Campus")
                    .carousel-item
                        img.d-block.w-100(src="/static/photos/SouthCampus.jpg" alt="South Campus")
                a.carousel-control-prev(href="#carousel" role="button" data-slide="prev")
                    span.carousel-control-prev-icon(aria-hidden="true")
                    span.sr-only Previous
                a.carousel-control-next(href="#carousel" role="button" data-slide="next")
                    span.carousel-control-next-icon(aria-hidden="true")
                    span.sr-only Next
            .row.d-flex.justify-content-center.align-items-center 
                h3 Open Classrooms
            .text-center
                mixin room_row(rooms)
                    .form-row.d-flex.justify-content-center.align-items-center
                        each room in rooms
                            .col-md-2.pt-md-2
                                p= room.Room
                            .col-md-2.pb-md-2
                                meter.time_remaining(min="0" max="400"
                                    low="30" high="120" optimum="60"
                                    value=room.timeDelta)
                                span= room.timeDelta
                -var elprow = 6
                -var rows = Math.floor(open_rooms.length / elprow)
                -var remainder = open_rooms.length % elprow
                -var i = 0
                -for (var j = 0; j < rows; j++)
                    +room_row(open_rooms.slice(i, i + elprow))
                    -i += elprow