#carousel{
    height: 25vh;
}
#carousel .carousel-inner{
    height: 100%;
}
#carousel .carousel-inner .carousel-item{
    height: 100%;
}
#carousel .carousel-inner .carousel-item img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
#canvas{
    width: 100%;
}
body{
    background-color: #2c2c2c !important;
}